<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>{{ question.question_group }}</h3>
    <h1>{{ question.question_text }}</h1>

    {% for answer in question.answer_set.all %}
        {% if answer.answer_correct %}
            <ul>
                <li> <h2>{{ answer.answer_text }}</h2></li>
            </ul>
        {% endif %}
    {% endfor %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

</body>
</html>