<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cards</title>
</head>
<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}">

{% if latest_question_list %}

<div class="groups_filter">
    {% for group in groups_list %}
    <div class="group_link_container">
        <a class="group_link outlined" href="{% url 'cards:index' %}?question_group={{ group }}">{{ group }}</a>
    </div>
    {% endfor %}
</div>


<div class="cards">

    {% for question in latest_question_list %}

    <div class="flip-card">
        <div class="flip-card-inner"
             style="background-image: url('{% static 'cards/img/' %}{{ question.question_group|slice:4 }}.png');">
            <div class="flip-card-front">
                <div class="question_number outlined">{{ question.question_number }}</div>
                <div class="question_text outlined">{{ question.question_text }}</div>
                <div class="question_group outlined">{{ question.question_group }}</div>
            </div>
            <div class="flip-card-back">
                <div class="question_text_back outlined">{{ question.question_text }}</div>
                <div class="answer_text outlined">
                    <ul class="answer_ul">
                        {% for answer in question.answer_set.all %}
                        {% if answer.answer_correct %}
                        <li>{{ answer.answer_text }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}

</div>

{% else %}
<p>No cards are available.</p>
{% endif %}


</body>
</html>