<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}">

<form action="{% url 'cards:index' %}" method="get">
    <label>Format</label>
    <select name="question_group">
        <option value="1800s" />1800s</option>
        <option value="All" />All</option>
    </select>
    <input type="submit" value="Filter" />
</form>

{% if latest_question_list %}
<div class="cards">

    {% for question in latest_question_list %}
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" style="background-image: url('https://www.w3schools.com/howto/img_avatar.png');">
                <div class="question_number">{{ question.question_number }}</div>
                <p class="question_group_title">{{ question.question_group_title }}</p>
                <p class="question_group">{{ question.question_group }}</p>
                <p class="question_text">{{ question.question_text }}</p>
            </div>
            <div class="flip-card-back">
                <p class="question_text">{{ question.question_text }}</p>

                {% for answer in question.answer_set.all %}
                    {% if answer.answer_correct %}
                        <ul>
                            <li> <p class="answer_text">{{ answer.answer_text }}</p></li>
                        </ul>
                    {% endif %}
                {% endfor %}

            </div>
          </div>
        </div>




    {% endfor %}

</div>

{% else %}
    <p>No cards are available.</p>
{% endif %}


  </body>
</html>